<select [(ngModel)]="userType">
  <option value="personal">Personal Information</option>
  <option value="pac">Phone, Address and Car</option>
  <option value="refCon">Reference Contact</option>
  <option value="emergency">Emergency Contact</option>
  <option value="docs">Personal Documents</option>
  <option value="done">Done</option>
</select>

<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <div class="parent-component" [ngSwitch]="userType">
    <app-personal-info
      [myForm]="myForm"
      *ngSwitchCase="'personal'"
    ></app-personal-info>
    <app-pac [myForm]="myForm" *ngSwitchCase="'pac'"></app-pac>
    <app-ref-contact
      [myForm]="myForm"
      *ngSwitchCase="'refCon'"
    ></app-ref-contact>
    <app-emergency-contact
      [myForm]="myForm"
      *ngSwitchCase="'emergency'"
    ></app-emergency-contact>
    <app-personal-docs
      [myForm]="myForm"
      *ngSwitchCase="'docs'"
    ></app-personal-docs>
    <app-done [myForm]="myForm" *ngSwitchCase="'done'"></app-done>
    <button type="submit">Submit</button>
  </div>
  <button (click)="test()">test</button>
</form>
