<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <label for="first-name">First Name: </label>
  <input id="first-name" type="text" formControlName="fname" />

  <label for="last-name">Last Name: </label>
  <input id="last-name" type="text" formControlName="lname" />

  <label for="middle-name">Middle Name: </label>
  <input id="middle-name" type="text" formControlName="mname" />

  <label for="ssn">ssn: </label>
  <input id="ssn" type="text" formControlName="ssn" />

  <div class="form-group">
    <label for="gender">gender: </label>
    <select class="form-control" formControlName="gender" id="gender">
      <option>male</option>
      <option>female</option>
    </select>
  </div>

  <label>
    Date of Birth:
    <input type="date" formControlName="dob" />
  </label>

  <div class="form-group">
    <label for="citizenship">US citizen?: </label>
    <select
      class="form-control"
      formControlName="citizenship"
      id="citizenship"
      name="cit"
    >
      <option>yes</option>
      <option>no</option>
    </select>
  </div>
  <!--<div [(ngModel)] = "cit" >
    <div class="form-group" *ngIf = "cit" === "'yes'">
        <label for="citizenType">Citizen Type: </label>
        <select class="form-control" formControlName="citizenType" id="citizenType">
          <option>Citizen</option>
          <option>Green Card</option>
        </select>
      </div>
  </div>-->

  <p>Complete the form to enable button.</p>
  <button type="submit" [disabled]="!myForm.valid">Submit</button>
</form>
