<form>
    <button (click)="onUsername()" type="button" class="btn btn-link">Username</button>
    <button (click)="onEmail()" type="button" class="btn btn-link">Email</button>
    <div class="form-group" *ngIf="isUsername">
        <label for="exampleInputEmail1">Username</label>
        <input [(ngModel)]='username' name="username" type="username" class="form-control" id="exampleInputEmail" aria-describedby="usernameHelp" placeholder="Enter username">
    </div>
    <div class="form-group" *ngIf="!isUsername">
      <label for="exampleInputEmail1">Email address</label>
      <input [(ngModel)]='email' name="email" type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input [(ngModel)]='password' name="password" type="password" class="form-control" id="inputPassword" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary" (click)="onLogin()" >Login</button>
    
</form>
