input{
    width: 30%;
    margin-right: 10px;
}

.mat-form-field{
    width:550px;
}

.col{
    width:30%;
}

.example-full-width{
    width:100%;
}

span{
    margin:10px;
    font-size: large;
    cursor: pointer;
}