<div class="card card-container">
  <img
    id="profile-img"
    src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
    class="profile-img-card"
  />

  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <label for="email">email: </label>
    <p>{{ email }}</p>

    <label for="token">token: </label>
    <p>{{ token }}</p>

    <label for="userName">Username: </label>
    <input id="userName" type="text" formControlName="username" />

    <label for="password">Password: </label>
    <input id="password" type="text" formControlName="password" />

    <button type="submit" [disabled]="!myForm.valid">Register</button>
  </form>
</div>
