<div class="nameSection">
  <h1>Name Section</h1>
  <div class="body">
    <form [formGroup]='form'>
        <div class="form-group col-md-6">
          <label for="inputFirstName">Firstname</label>
          <input formControlName='firstname' readonly={{isReadOnly}} type="firstname" class="form-control" id="inputFirstName">
        </div>
        <br>
        <div class="form-group col-md-6">
          <label for="inputLastName">Lastname</label>
          <input formControlName='lastname' readonly={{isReadOnly}} type="lastname" class="form-control" id="inputLastName" value="bbb">
        </div>
        <br>

        <div class="form-group col-md-6">
            <label for="inputPreferredName">PreferredName</label>
            <input formControlName='preferredname' readonly={{isReadOnly}} type="preferredName" class="form-control" id="inputPreferredName">
        </div>
        <br>
        <div class="form-group col-md-6">
            <label for="inputBirth">Birth</label>
            <input formControlName='birth' readonly={{isReadOnly}} type="birth" class="form-control" id="inputbirth">
        </div>
        <br>
        <div class="form-group col-md-6">
            <label for="inputAge">Age</label>
            <input formControlName='age' readonly={{isReadOnly}} type="age" class="form-control" id="inputage">
        </div>
        <br>
        <div class="form-group">
            <label for="FormControlSelect">Gender</label>
            <select formControlName='gender' class="form-control" id="FormControlSelect1">
              <option value='male'>Male</option>
              <option value='female'>Female</option>
              <option value='nochoose'>Don't want to choose</option>
            </select>
        </div>
        <br>
        <div class="form-group col-md-6">
            <label for="inputSsn">SSN</label>
            <input formControlName='ssn' readonly={{isReadOnly}} type="ssn" class="form-control" id="inputssn">
        </div>
      </form>
      <br>
      <div *ngIf="isReadOnly === 'readonly'">
        <button type="submit" class="btn btn-primary" (click)="onEdit()">Edit</button>
      </div>
    
      <div *ngIf="isReadOnly !== 'readonly'">
          <button type="submit" class="btn btn-primary" (click)="onSave()">Save</button>
          <button type="submit" class="btn btn-primary" (click)="onCancel()">Cancel</button>
      </div>
  </div>
</div>
