.nameSection{
    background-color: rgb(224, 220, 220);
    margin: 5%;
    padding:2%;
}

#FormControlSelect1{
    width:50%;
}

label{
    font-size: large;
}

.body{
    padding:2%;
    background-color: white;
}
