<div class="container">
    <div class="row">
      <div class="col">
        <app-name-section></app-name-section>
      </div>
      <div class="col">
        <app-employment-section></app-employment-section>
      </div>
      <div class="col">
        <app-contact-section></app-contact-section>
      </div>
    </div>
    <div class="row">
        <div class="col">
            <app-address-section></app-address-section>
        </div>
        <div class="col">
            <app-emergency-contact-section></app-emergency-contact-section>
        </div>
        <div class="col">
            <app-document-section></app-document-section>
        </div>
      </div>
  </div>


